In [97]:
import requests

In [98]:
from bs4 import BeautifulSoup

In [99]:
import pandas as pd

In [346]:
#import lxml.html
#from lxml.cssselect import CSSSelector

In [101]:
page = requests.get('http://zillow.mediaroom.com/2018-04-09-Homes-Earn-Minimum-Wage-or-More-in-Nearly-Half-the-Nations-Largest-Cities')

In [102]:
soup = BeautifulSoup(page.content, 'html.parser')

In [1]:
print(soup.prettify())

In [287]:
locations = soup.find_all('span', attrs = {'class' : 'prnews_span'})
cities = []
prices = []

In [288]:
print(locations[5].get_text())

United States

In [289]:
for location in locations:
    cities.append(location.get_text())

In [290]:
#cities.sort()

In [2]:
cities

In [292]:
cities = cities[0::5]

In [293]:
#len(cities)

In [294]:
#cities = cities[204:257]

In [295]:
#cities = list(set(cities))

In [296]:
cities = pd.Series(cities)

In [297]:
#cities.sort_values

In [298]:
#cities = cities.drop(29)

In [299]:
#cities = cities.drop(10)

In [300]:
#cities = cities.reset_index()

In [301]:
#cities = cities.drop('index', axis=1)

In [302]:
cities.head()

0             City
1    United States
2         New York
3      Los Angeles
4          Chicago
dtype: object

In [303]:
for location in locations:
    prices.append(location.get_text())

In [3]:
prices

In [305]:
prices = prices[4::5]

In [333]:
#prices

In [318]:
prices = [s[-5:] for s in prices]

In [321]:
prices = pd.Series(prices)

In [323]:
prices.head()

0    Wagev
1     7.25
2    13.00
3    12.00
4    11.00
dtype: object

In [324]:
appreciation = []
for location in locations:
    appreciation.append(location.get_text())

In [327]:
appreciation = appreciation[3::5]

In [331]:
appreciation = [s[-5:] for s in appreciation]

In [334]:
appreciation = pd.Series(appreciation)

In [338]:
df = pd.concat([cities, prices, appreciation], axis=1)

In [345]:
df.head()

               0      1      2
0           City  Wagev  -Hour
1  United States   7.25   7.09
2       New York  13.00  42.17
3    Los Angeles  12.00  26.35
4        Chicago  11.00   1.01

In [4]:
df = df.drop(0, axis=0)

In [347]:
df[2].max()

'99.81'

In [348]:
df[2].min()

' 0.91'

In [349]:
df[1].max()

'Wagev'