In [2]:
import requests

In [3]:
from bs4 import BeautifulSoup

In [4]:
import pandas as pd

In [346]:
#import lxml.html
#from lxml.cssselect import CSSSelector

In [5]:
page = requests.get('http://zillow.mediaroom.com/2018-04-09-Homes-Earn-Minimum-Wage-or-More-in-Nearly-Half-the-Nations-Largest-Cities')

In [6]:
soup = BeautifulSoup(page.content, 'html.parser')

In [ ]:
print(soup.prettify())

In [9]:
locations = soup.find_all('span', attrs = {'class' : 'prnews_span'})
cities = []
prices = []

In [10]:
print(locations[5].get_text())

United States

In [11]:
for location in locations:
    cities.append(location.get_text())

In [290]:
#cities.sort()

In [ ]:
cities

In [13]:
cities = cities[0::5]

In [293]:
#len(cities)

In [294]:
#cities = cities[204:257]

In [295]:
#cities = list(set(cities))

In [14]:
cities = pd.Series(cities)

In [297]:
#cities.sort_values

In [298]:
#cities = cities.drop(29)

In [299]:
#cities = cities.drop(10)

In [300]:
#cities = cities.reset_index()

In [301]:
#cities = cities.drop('index', axis=1)

In [15]:
cities.head()

0             City
1    United States
2         New York
3      Los Angeles
4          Chicago
dtype: object

In [16]:
for location in locations:
    prices.append(location.get_text())

In [ ]:
prices

In [18]:
prices = prices[4::5]

In [333]:
#prices

In [19]:
prices = [s[-5:] for s in prices]

In [20]:
prices = pd.Series(prices)

In [21]:
prices.head()

0    Wagev
1     7.25
2    13.00
3    12.00
4    11.00
dtype: object

In [23]:
appreciation = []
for location in locations:
    appreciation.append(location.get_text())

In [24]:
appreciation = appreciation[3::5]

In [25]:
appreciation = [s[-5:] for s in appreciation]

In [26]:
appreciation = pd.Series(appreciation)

In [31]:
df = pd.concat([cities, prices, appreciation], axis=1)

In [36]:
df.rename(columns={0: 'City', 1: 'Min Wage', 2: 'Appreciation Rate'}, inplace=True)

In [37]:
df.drop(index=[0], inplace=True)

In [38]:
df.head()

            City Min Wage Appreciation Rate
1  United States     7.25              7.09
2       New York    13.00             42.17
3    Los Angeles    12.00             26.35
4        Chicago    11.00              1.01
5   Philadelphia     7.25              6.04

In [44]:
df['Appreciation Rate'].max()

'99.81'

In [45]:
df['Appreciation Rate'].min()

' 0.91'

In [46]:
df['Min Wage'].max()

'15.00'

In [49]:
df['Min Wage'].min()

' 7.25'

In [50]:
bar = []
for each in df['Min Wage']:
    bar.append(each.strip())

In [55]:
bar = [float(i) for i in bar]

In [60]:
foo = pd.Series(bar)

In [62]:
df['Minimum Wage'] = foo

In [65]:
df.drop('Min Wage', axis = 1, inplace=True)

In [66]:
appreciation_rate_list = []
for each in df['Appreciation Rate']:
    appreciation_rate_list.append(each.strip())

In [68]:
new_appreciation_rate_list = []
for each in df['Appreciation Rate']:
    new_appreciation_rate_list.append(each.replace(')',''))

In [69]:
float_appreciation_rate_list = [float(i) for i in new_appreciation_rate_list]

In [75]:
float_appreciation_rate_list = pd.Series(float_appreciation_rate_list)

In [77]:
df.drop('Appreciation Rate', axis = 1, inplace=True)

In [78]:
df['Appreciation Rate'] = float_appreciation_rate_list

In [79]:
df.head()

            City  Minimum Wage  Appreciation Rate
1  United States         13.00              42.17
2       New York         12.00              26.35
3    Los Angeles         11.00               1.01
4        Chicago          7.25               6.04
5   Philadelphia         10.50               9.34

# Data Analysis Portion

In [81]:
df.describe()

       Minimum Wage  Appreciation Rate
count     50.000000          50.000000
mean       9.395600          13.546800
std        2.190892          18.021108
min        7.250000           0.810000
25%        7.250000           2.932500
50%        8.900000           7.980000
75%       11.000000          15.332500
max       15.000000          99.810000

In [82]:
### What cities have the highest and lowest appreciation rates?

In [85]:
df[df['Appreciation Rate'] == 99.810000], df[df['Appreciation Rate'] == 0.810000]

(     City  Minimum Wage  Appreciation Rate
 9  Dallas          13.5              99.81,
            City  Minimum Wage  Appreciation Rate
 45  Baton Rouge          7.25               0.81)